{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My First Web</title> 
    <link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Fanwood Text' rel='stylesheet'>
    <style>
        body {
          background-color:blanchedalmond;
          font-family: 'Fanwood Text';
          font-size: 22px;
          color:#2c2b3c;
        }

        .fotoumum{
            margin-left:550px; margin-right: auto;
        }

        .fotoumum img{
            height: 200px; width: 150px;
        }

        .socialmedia{
            margin-left: 190px; margin-right: auto;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        h1 {
          color:#121420;
          text-align:center;
          font-family: 'Bungee Shade';
          font-size: 25px;
        }
        
        p {
            color:#2c2b3c;
            text-align: center;
            font-family: 'Fanwood Text';
            font-size: 22px;
        }
        #header{
            background: #b76d68; 
            height: 150px; width: 500px; margin:auto;
        }
        #wrap {
            background:#b76d68; 
            height: 680px; width: 500px; margin: auto;
        }
    </style>

</head>

<body>
    
    <h1>THIS IS ME</h1>
    <div class="fotoumum">
        <img src = "https://i.postimg.cc/ZKm3Ccss/JP50.jpg" />
    </div>
   
    <div id="header">
        <p>Hello! My name is Tsanaa Patricia Khonsaa. I am usually called Tsanaa. I was born in Banyuwangi on 25 September 2000. I am an only child. I am a humorous and cheerful person. I am currently studying at Fasilkom UI majoring in Information Systems. Below is my short bio.</p>
    </div>
    <div id="wrap">
        <h1>MY SHORT BIO</h1>
        <p>Name: Tsanaa Patricia Khonsaa</p>
        <p>Student number: 1906353914</p>
        <p>Class of: 2019</p>
        <p>Hobby: watch movies, drama, and series</p>
        <h1>EDUCATIONAL BACKGROUND </h1>
        <table style="width:100%">
            <tr>
                <th>Education</th>
                <th>Years</th>
            </tr>
            <tr>
                <td align="center">SDN Jatinegara Kaum 01 Pagi </td>
                <td>2007-2013</td>
            </tr>
            <tr>
                <td align="center">SMPN 255 Jakarta </td>
                <td>2013-2016</td>
            </tr>
            <tr>
                <td align="center">SMAN 21 Jakarta </td>
                <td>2016-2019</td>
            </tr>
        </table>
        <p>Click the icon below, to view my social media accounts! </p>
        <div class="socialmedia">
            <a href="https://www.instagram.com/tsanaapk/?hl=id"><img src="{% static 'insta.png'%}" height="50" width="50" /></a>
            <a href="https://www.linkedin.com/in/tsanaa-patricia-5a85761a2/"><img src="{% static 'linkedin.png'%}" height="50" width="50"/></a>
        </div>
    </div>

</body>
</html>